.email {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 1.1rem;
}
.left-hand {
    position: absolute;
    bottom: 0;
    left: 0;
    pointer-events: none;
    transition: transform 0.5s ease-out;
    transform-origin: left bottom;
}
.right-hand {
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none;
    transition: transform 0.5s ease-out;
    transform-origin: right bottom;
}
main {
    height: 100vh;
    text-align: center;
    position: relative;
}
main > div > p {
    max-width: 600px;
    justify-self: center;
}
main h1 {
    font-family: "Imbue", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 7rem;
    margin: 0;
}
main h2 {
    margin-top: 0;
    padding-top: 20%;
}
.introducao {
    position: absolute;
    justify-self: center;
}
header {
    justify-items: left;
    position: relative;
    z-index: 100;
}
header > nav {
    display: flex;
    gap: 20px;
    position: fixed;
    padding: 20px;
    background-color: #111111;
    border-bottom-right-radius: 30px;
}

.about {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    height: 90vh;
    padding-top: 10vh;
    margin: 0 10px;
}
.aboutme {
    grid-column: 1/3;
}
.about a {
    color: white;
    display: block;
    align-self: center;
    text-decoration: none;
}
.soft {
    grid-column: 3/4;
    grid-row: 1/3;
}
.myprojects {
    justify-items: center;
}
.resume {
    justify-items: center;
}
.about > div {
    background-color: rgba(217, 217, 217, 0.03);
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(217, 217, 217, 0.1);
}
section h1 {
    line-height: 5px;
}
hr {
    width: 8%;
    height: 2px;
    border: none;
    background-color: white;
}
#projects {
    text-align: center;
    padding-top: 5%;
    margin-top: 5%;
    justify-items: center;
}
#projects > h2 {
    margin-bottom: 2%;
}
#projects > a {
    color: white;
    margin-top: 5%;
    display: inline-block;
}
#projects > div {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    gap: 5%;
}
.projeto-card {
    display: flex;
    gap: 10px;
    text-align: left;
}
.projeto-card > img {
    object-fit: cover; 
    object-position: center;
    width: 100%;
    max-width: 400px;
    height: 300px;
}
.projeto-card h2 {
    margin: 0;
    padding: 2% 0;
}
.projeto-card p {
    margin-top: 1%;
}
.seta {
    color: white;
    background-color: transparent;
    border-radius: 40px;
    height: 40px;
    width: 40px;
    border: 2px solid white;
}
#skills {
    text-align: center;
    padding-top: 5%;
    margin-top: 5%;
    height: 90vh;
}
#certificate {
    justify-self: center;
    text-align: center;
    width: 95%;
    padding-top: 5%;
    margin-top: 5%;
    justify-content: center;
}
.certificado-container {
    display: flex;
    gap: 2%;
    overflow-x: auto;
    justify-content: flex-start;
}
.certificado-card {
    flex-shrink: 0;
    width: 33%;
    background-color: rgba(217, 217, 217, 0.05);
    padding: 2%;
    border-radius: 5%;
    margin-bottom: 10px;
}
.certificado-card h3 {
    margin: 0;
}
.certificado-card > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}
.certificado-card > p {
    text-align: left;
}
.certificado-card > a {
    color: white;
    display: block;
    justify-self: end;
    margin-top: 6%;
}
.certificado-container::-webkit-scrollbar {
  height: 5px;
}
.certificado-container::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}
.certificado-container::-webkit-scrollbar-track {
  background-color: transparent;
}

.tec-container {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    justify-self: center;
    justify-content: center;
    width: 70vw;
}
.tec-container > div {
    background-color: rgba(217, 217, 217, 0.1);
    border-radius: 15px;
    width: 80px;
    height: 80px;
    align-content: center;
    justify-items: center;
}
.tec-container img {
    width: 80%;
    display: block;
}
