body {
  font-size: clamp(1rem, 2.5vw, 1.5rem); 
}
.email {
    background-color: transparent;
    color: white;
    border: none;
}
.left-hand {
    position: fixed;
    bottom: 0;
    left: 0;
}
.right-hand {
    position: fixed;
    top: 0;
    right: 0;
}
main {
    height: 100vh;
    text-align: center;
}
main > p {
    max-width: 600px;
    justify-self: center;
}
.about {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}
.aboutme {
    grid-column: 1/3;
}
.about a {
    color: white;
    display: block;
    align-self: center;
    text-decoration: none;
}
.soft {
    grid-column: 3/4;
    grid-row: 1/3;
}
.myprojects {
    justify-items: center;
}
.resume {
    justify-items: center;
}
.about > div {
    background-color: rgba(217, 217, 217, 0.03);
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(217, 217, 217, 0.1);
}

.certificado-card {
    width: 300px;
    background-color: rgba(217, 217, 217, 0.03);
    padding: 10px;
}
.certificado-card > div {
    display: flex;
    justify-content: space-between;
}
.certificado-card > a {
    display: block;
    justify-self: end;
    color: white;
}


.tec-container {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}
.tec-container > div {
    background-color: rgba(217, 217, 217, 0.1);
    border-radius: 15px;
    width: 80px;
    height: 80px;
    align-content: center;
    justify-items: center;
}
.tec-container img {
    width: 80%;
    display: block;
}

.contactme {
    display: flex;
}
.contactme > img {
    max-height: 500px;
}
section {
    margin: 40px 0 40px;
}
.projeto-especifico {
    max-height: 300px;
    display: flex;
    gap: 10px;
}
.projeto-especifico > img {
    width: 400px;
    height: 300px;
    object-fit: cover; 
    object-position: center;
}
.seta {
    color: white;
    background-color: transparent;
    border-radius: 40px;
    height: 40px;
    width: 40px;
    border: 2px solid white;
}
