.email {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 1.1rem;
}
.left-hand {
    position: absolute;
    bottom: 0;
    left: 0;
    pointer-events: none;
    transition: transform 0.5s ease-out;
    transform-origin: left bottom;
}
.right-hand {
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none;
    transition: transform 0.5s ease-out;
    transform-origin: right bottom;
}
main {
    height: 100vh;
    text-align: center;
    position: relative;
}
main > div > p {
    max-width: 600px;
    justify-self: center;
}
main h1 {
    font-family: "Imbue", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 7rem;
    line-height: 1px;
}
main h2 {
    margin-top: 20%;
}
.introducao {
    position: absolute;
    justify-self: center;
}
header {
    justify-items: left;
}
header > nav {
    display: flex;
    gap: 20px;
    position: fixed;
    padding: 20px;
    z-index: 100;
}

.about {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    height: 100vh;
}
.aboutme {
    grid-column: 1/3;
}
.about a {
    color: white;
    display: block;
    align-self: center;
    text-decoration: none;
}
.soft {
    grid-column: 3/4;
    grid-row: 1/3;
}
.myprojects {
    justify-items: center;
}
.resume {
    justify-items: center;
}
.about > div {
    background-color: rgba(217, 217, 217, 0.03);
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(217, 217, 217, 0.1);
}
.certificado-card {
    width: 300px;
    background-color: rgba(217, 217, 217, 0.03);
    padding: 10px;
}
.certificado-card > div {
    display: flex;
    justify-content: space-between;
}
.certificado-card > a {
    display: block;
    justify-self: end;
    color: white;
}
.tec-container {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}
.tec-container > div {
    background-color: rgba(217, 217, 217, 0.1);
    border-radius: 15px;
    width: 80px;
    height: 80px;
    align-content: center;
    justify-items: center;
}
.tec-container img {
    width: 80%;
    display: block;
}
section {
    margin: 40px 0 40px;
}
.projeto-especifico {
    max-height: 300px;
    display: flex;
    gap: 10px;
}
.projeto-especifico > img {
    width: 400px;
    height: 300px;
    object-fit: cover; 
    object-position: center;
}
.seta {
    color: white;
    background-color: transparent;
    border-radius: 40px;
    height: 40px;
    width: 40px;
    border: 2px solid white;
}
