body {
    display: flex;
    left: 0;
    top: 0;
    height: 100vh;
}
aside {
    width: 20vw;
    position: fixed;
}
.home {
    color: white;
    background-color: transparent;
    border: none;
}
.projeto-card {
    width: 300px;
    background-color: rgba(217, 217, 217, 0.03);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.projeto-card > img {
    width: 90%;
}
main {
    margin-left: 20vw; /* empurra o main para o lado do aside */
    width: calc(100vw - 20vw); /* evita quebra do layout */
    padding: 20px;
    overflow-y: auto;
}
h1 {
    margin: 0;
    font-size: 1.5rem;
}