body {
    display: flex;
}
aside {
    width: 300px;
}
.home {
    color: white;
    background-color: transparent;
    border: none;
}
.projeto-card {
    width: 300px;
    background-color: rgba(217, 217, 217, 0.03);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.projeto-card > img {
    width: 90%;
}