body {
    background-color: #111111;
    color: white;
}
footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.leticia {
    padding-left: 20px;
}
.quicklinks {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-right: 20px;
}
footer > p {
    padding-left: 20px;
}
.worktogether {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.connect {
    background-color: #D9D9D9;
    border-radius: 50px;
    border: none;
    padding: 20px 40px;
}
button {
    cursor: pointer;
}
.tech {
    background-color: rgba(217, 217, 217, 0.15);
    display: flex;
    height: 30px;
    max-width: 100px;
    align-items: center;
    border-radius: 5px;
    padding: 0 8px 0 5px;
    gap: 5px;
}
.tech > img {
    height: 80%;
}
.list-tech {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}