body {
    background-color: #111111;
    color: white;
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-style: normal;
}
h2, h3, h1, h4 {
    font-weight: normal;
}
footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.leticia {
    padding-left: 20px;
}
.leticia button {
    color: white;
    background-color: transparent;
    border: none;
}
.quicklinks {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-right: 20px;
    gap: 5px;
}
.quicklinks > a {
    text-decoration: none;
    color: white;
}
footer > p {
    padding-left: 20px;
}
.worktogether {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.connect {
    background-color: #D9D9D9;
    border-radius: 50px;
    border: none;
    padding: 5px;
    align-content: center;
}
.connect > i {
    background-color: white;
    border-radius: 40px;
    height: 40px;
    width: 40px;
}
.contactme {
    display: flex;
}
.contactme > img {
    height: 90vh;
}
button {
    cursor: pointer;
}
.tech {
    background-color: rgba(217, 217, 217, 0.15);
    display: flex;
    height: 30px;
    max-width: 100px;
    align-items: center;
    border-radius: 5px;
    padding: 0 8px 0 5px;
    gap: 5px;
}
.tech > img {
    height: 80%;
}
.list-tech {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}