body {
    background-color: #111111;
    color: white;
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}
* {
    user-select: none;
    box-sizing: border-box;
}
h2, h3, h1, h4 {
    font-weight: normal;
}
nav button {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.8);
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
}
nav button:hover {
    text-decoration: underline;
}
footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: clamp(0.8rem, 2vw, 1rem);
    margin: 5% 2% 1%;
}
footer h1, h2 {
    margin: 0;
}
footer img {
    height: 1.8rem;
}
.leticia {
    padding-left: 20px;
}
.leticia a {
    color: white;
    border: none;
    font-size: 1.8rem;
    padding-right: 10px;
}
.quicklinks {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-right: 20px;
}
.quicklinks > nav {
    display: flex;
    flex-direction: column;
    align-items: end;
}
footer > p {
    padding-left: 20px;
}
.worktogether {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.connect {
    background-color: #D9D9D9;
    border-radius: 50px;
    border: none;
    padding: 5px 5px 5px 15px;
    display: flex;
    align-items: center;
    gap: 4px;
    margin-top: 5%;
}
.connect > i {
    background-color: white;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contactme {
    display: flex;
    justify-self: center;
    gap: 5%;
    padding: 5%;
    margin-top: 5%;
}
.contactme > img {
    height: 85vh;
}
.contactme h1 {
    padding: 20% 0 15%;
    margin: 0;
}
button {
    cursor: pointer;
}
.tech {
    background-color: rgba(217, 217, 217, 0.15);
    display: flex;
    height: 30px;
    align-items: center;
    border-radius: 5px;
    padding: 0 8px 0 5px;
    gap: 5px;
}
.tech > img {
    height: 80%;
}
.list-tech {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}
.contato-modal {
    display: none;
    background-color: #313131;
    padding: 5%;
    border-radius: 10px;
    width: 30vw;
    bottom: 10vh;
    position: relative;
}
.contato-modal h2 {
    margin: 0;
    padding-bottom: 3%;
}
.redes-links {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}
.redes-links a {
    color: white;
    margin-top: 2%;
    font-size: clamp(2rem, 5vw, 2.5rem);;
}
.close-modal {
    display: flex;
    gap: 10px;
}
.close-modal button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 2.5rem;
}
.div-email {
    cursor: pointer;
    background-color: rgba(217, 217, 217, 0.10);
    align-items: start;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.div-email h3, p {
    margin: 0;
}